NEWS_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
REDIS_ENABLED=
REDIS_URL=
REDIS_KEY_PREFIX=
REDIS_DEFAULT_TTL_SEC=
WORKER_CRON=*/20 * * * *
EXA_API_KEY=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_JWT_SECRET=
ADMIN_JWT_EXPIRES_IN=12h